body { 
	width: 92vw; 
	margin: 0 auto;
	padding: 30px 15px;
} 
.input_dates{
	margin-bottom: 25px;
}
.align_input_blocks div{  
}
.align_input_blocks input{  
	width: 125px;
}
.input_dates input{
	padding: 7px;
	margin-bottom: 25px;
	margin-top: 5px;
}
